Repository yoouyeon/algorithm_study, changes with the labels that .github/labeler.yml gives for each.
All labels: leetcode, programmers

🛠️ 자동 머지 워크플로우에 자동화 기능 추가
  .github/workflows/auto-merge.yml
Labels: none

🛠️ PR 관련 워크플로우 통합
  .github/workflows/auto-merge.yml
  .github/workflows/auto-pr.yml
  .github/workflows/pr-agent.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr.yml
Labels: none

🛠️ PR 생성 job에 체크아웃 단계 추가
  .github/workflows/pr.yml
Labels: none

🛠️ PR 머지 워크플로우를 새 파일로 분리
  .github/workflows/merge-on-label.yml
  .github/workflows/pr.yml
Labels: none

🛠️ PR-Agent 설정에서 publish_labels 옵션을 false로 변경
  .pr_agent.toml
Labels: none

🛠️ 머지 후 upload 브랜치를 main으로 동기화하는 워크플로우 추가
  .github/workflows/ after-merge.yml
Labels: none

🛠️ 파일 이름에 있던 불필요한 공백 제거
  .github/workflows/after-merge.yml
Labels: none

🛠️ 머지 워크플로우에 체크아웃 단계 추가
  .github/workflows/merge-on-label.yml
Labels: none

💡 리트코드 209 - Minimum Size Subarray Sum
  Leetcode/209.minimum-size-subarray-sum.ts
Labels: leetcode

💡 리트코드 209 - Minimum Size Subarray Sum
  Leetcode/209.minimum-size-subarray-sum.ts
Labels: leetcode

🛠️ git fetch 명령어 수정
  .github/workflows/after-merge.yml
Labels: none

💡 리트코드 567 - Permutation in String
  Leetcode/567.permutation-in-string.ts
Labels: leetcode

💡 리트코드 567 - Permutation in String
  Leetcode/567.permutation-in-string.ts
Labels: leetcode

🛠️ upload 브랜치 동기화를 위한 스크립트
  sync-upload.sh
Labels: none

💡 리트코드 713 - Subarray Product Less Than K
  Leetcode/713.subarray-product-less-than-k.ts
Labels: leetcode

💡 프로그래머스 68644 - 두 개 뽑아서 더하기
  Programmers/Level1/68644_두_개_뽑아서_더하기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 42840 - 모의고사
  Programmers/Level1/42840_모의고사.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12949 - 행렬의 곱셈
  Programmers/Level2/12949_행렬의_곱셈.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 42889 - 실패율
  Programmers/Level1/42889_실패율.js
Labels: programmers

💡 프로그래머스 49994 - 방문 길이
  Programmers/Level2/49994_방문_길이.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 76502 - 괄호 회전하기
  Programmers/Level2/76502_괄호_회전하기.js
Labels: programmers

💡 프로그래머스 12973 - 짝지어 제거하기
  Programmers/Level2/12973_짝지어_제거하기.js
  Programmers/README.md
Labels: programmers

🐛 항상 truthy로 평가되던 merge job 조건 수정
  .github/workflows/merge-on-label.yml
Labels: none

🎨 [프로그래머스 49994 - 방문 길이] move 함수 리팩토링
  Programmers/Level2/49994_방문_길이.js
Labels: programmers

🎨 [💡 프로그래머스 42889 - 실패율] 변수명 개선
  Programmers/Level1/42889_실패율.js
Labels: programmers

⚡️ [프로그래머스 76502 - 괄호 회전하기] 회전 방식 변경
  Programmers/Level2/76502_괄호_회전하기.js
Labels: programmers

💡 프로그래머스 12973 - 짝지어 제거하기
  Programmers/Level2/12973_짝지어_제거하기.js
  Programmers/README.md
Labels: programmers

🎨 [프로그래머스 49994 - 방문 길이] move 함수 리팩토링
  Programmers/Level2/49994_방문_길이.js
Labels: programmers

⚡️ [프로그래머스 76502 - 괄호 회전하기] 회전 방식 변경
  Programmers/Level2/76502_괄호_회전하기.js
Labels: programmers

💡 프로그래머스 42889 - 실패율
  Programmers/Level1/42889_실패율.js
Labels: programmers

💡 프로그래머스 76502 - 괄호 회전하기
  Programmers/Level2/76502_괄호_회전하기.js
Labels: programmers

💡 프로그래머스 49994 - 방문 길이
  Programmers/Level2/49994_방문_길이.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12949 - 행렬의 곱셈
  Programmers/Level2/12949_행렬의_곱셈.js
  Programmers/README.md
Labels: programmers

🎨 [💡 프로그래머스 42889 - 실패율] 변수명 개선
  Programmers/Level1/42889_실패율.js
Labels: programmers

💡 프로그래머스 120817 - 배열의 평균값
  Programmers/Level0/120817_배열의_평균값.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 120821 - 배열 뒤집기
  Programmers/Level0/120821_배열_뒤집기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 87390 - n^2 배열 자르기
  Programmers/Level2/87390_n^2_배열_자르기.js
Labels: programmers

💡 프로그래머스 12910 - 나누어 떨어지는 숫자 배열
  Programmers/Level1/12910_나누어_떨어지는_숫자_배열.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 42584 - 주식가격
  Programmers/Level2/42584_주식가격.js
Labels: programmers

💡 프로그래머스 64061 - 크레인 인형뽑기 게임
  Programmers/Level1/64061_크레인_인형뽑기_게임.js
Labels: programmers

.github/labeler.yml:

leetcode:
  - changed-files:
      - any-glob-to-any-file: Leetcode/**
programmers:
  - changed-files:
      - any-glob-to-any-file: Programmers/**
