Repository yoouyeon/algorithm_study, changes with the labels that .github/labeler.yml gives for each.
All labels: leetcode, programmers

.github/labeler.yml:

leetcode:
  - changed-files:
      - any-glob-to-any-file: Leetcode/**
programmers:
  - changed-files:
      - any-glob-to-any-file: Programmers/**

💡 프로그래머스 12928 - 약수의 합
  Programmers/Level1/12928_약수의_합.js
Labels: programmers

💡 프로그래머스 12940 - 최대공약수와 최소공배수
  Programmers/Level1/12940_최대공약수와_최소공배수.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12940 - 최대공약수와 최소공배수
  Programmers/Level1/12940_최대공약수와_최소공배수.js
  Programmers/README.md
Labels: programmers

프로그래머스 12953 - N개의 최소공배수
  Programmers/Level1/12953_N개의_최소공배수.js
  Programmers/README.md
Labels: programmers

프로그래머스 12953 - N개의 최소공배수
  Programmers/Level1/12953_N개의_최소공배수.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12921 - 소수 찾기
  Programmers/Level1/12921_소수_찾기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12977 - 소수 만들기
  Programmers/Level1/12977_소수_만들기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12921 - 소수 찾기
  Programmers/Level1/12921_소수_찾기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 12977 - 소수 만들기
  Programmers/Level1/12977_소수_만들기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 92343 - 양과 늑대
  Programmers/Level3/92343_양과_늑대.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 92343 - 양과 늑대
  Programmers/Level3/92343_양과_늑대.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 86053 - 금과 은 운반하기
  Programmers/Level3/86053_금과_은_운반하기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 86053 - 금과 은 운반하기
  Programmers/Level3/86053_금과_은_운반하기.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 43162 - 네트워크
  Programmers/Level3/43162_네트워크.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 43162 - 네트워크
  Programmers/Level3/43162_네트워크.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 49189 - 가장 먼 노드
  Programmers/Level3/49189_가장_먼_노드.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 49189 - 가장 먼 노드
  Programmers/Level3/49189_가장_먼_노드.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 42628 - 이중우선순위큐
  Programmers/Level3/42628_이중우선순위큐.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 42628 - 이중우선순위큐
  Programmers/Level3/42628_이중우선순위큐.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 72416 - 매출 하락 최소화
  Programmers/Level4/72416_매출_하락_최소화.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 72416 - 매출 하락 최소화
  Programmers/Level4/72416_매출_하락_최소화.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 72413 - 합승 택시 요금
  Programmers/Level3/72413_합승_택시_요금.js
  Programmers/README.md
Labels: programmers

💡 프로그래머스 72413 - 합승 택시 요금
  Programmers/Level3/72413_합승_택시_요금.js
  Programmers/README.md
Labels: programmers

💡 리트코드 21 - Merge Two Sorted Lists
  Leetcode/Easy/21_merge-two-sorted-lists.ts
Labels: leetcode

💡 리트코드 21 - Merge Two Sorted Lists
  Leetcode/Easy/21_merge-two-sorted-lists.ts
Labels: leetcode

♻️ 사용하지 않을 script 제거
  package.json
  scripts/README.md
  scripts/generate-readme/index.js
  scripts/generate-readme/problemProvider.js
  scripts/problem-manager/createProblemFile.js
  scripts/problem-manager/fetchProblemInfo.js
  scripts/problem-manager/generateReadme.js
  scripts/problem-manager/index.js
  scripts/problem-manager/problemProviders/baekjoonProvider.js
  scripts/problem-manager/problemProviders/index.js
  scripts/problem-manager/problemProviders/programmersProvider.js
  sync-upload.sh
Labels: none
